<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-departamento-heading"
        data-cy="DepartamentoCreateUpdateHeading"
        jhiTranslate="sumativa2DunderMifflinApp.departamento.home.createOrEditLabel"
      >
        Crear o editar Departamento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="sumativa2DunderMifflinApp.departamento.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nombreDepartamentoRef = editForm.get('nombreDepartamento')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombreDepartamento" jhiTranslate="sumativa2DunderMifflinApp.departamento.nombreDepartamento"
            >Nombre Departamento</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreDepartamento"
            id="field_nombreDepartamento"
            data-cy="nombreDepartamento"
            formControlName="nombreDepartamento"
          />
          @if (nombreDepartamentoRef.invalid && (nombreDepartamentoRef.dirty || nombreDepartamentoRef.touched)) {
            <div>
              @if (editForm.get('nombreDepartamento')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_ubicacionDepartamento"
            jhiTranslate="sumativa2DunderMifflinApp.departamento.ubicacionDepartamento"
            >Ubicacion Departamento</label
          >
          <input
            type="text"
            class="form-control"
            name="ubicacionDepartamento"
            id="field_ubicacionDepartamento"
            data-cy="ubicacionDepartamento"
            formControlName="ubicacionDepartamento"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_presupuestoDepartamento"
            jhiTranslate="sumativa2DunderMifflinApp.departamento.presupuestoDepartamento"
            >Presupuesto Departamento</label
          >
          <input
            type="number"
            class="form-control"
            name="presupuestoDepartamento"
            id="field_presupuestoDepartamento"
            data-cy="presupuestoDepartamento"
            formControlName="presupuestoDepartamento"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_jefe" jhiTranslate="sumativa2DunderMifflinApp.departamento.jefe">Jefe</label>
          <select class="form-control" id="field_jefe" data-cy="jefe" name="jefe" formControlName="jefe" [compareWith]="compareJefe">
            <option [ngValue]="null"></option>
            @for (jefeOption of jefesSharedCollection; track $index) {
              <option [ngValue]="jefeOption">{{ jefeOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
