<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-empleado-heading"
        data-cy="EmpleadoCreateUpdateHeading"
        jhiTranslate="sumativa2DunderMifflinApp.empleado.home.createOrEditLabel"
      >
        Crear o editar Empleado
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="sumativa2DunderMifflinApp.empleado.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nombreEmpleadoRef = editForm.get('nombreEmpleado')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombreEmpleado" jhiTranslate="sumativa2DunderMifflinApp.empleado.nombreEmpleado"
            >Nombre Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreEmpleado"
            id="field_nombreEmpleado"
            data-cy="nombreEmpleado"
            formControlName="nombreEmpleado"
          />
          @if (nombreEmpleadoRef.invalid && (nombreEmpleadoRef.dirty || nombreEmpleadoRef.touched)) {
            <div>
              @if (editForm.get('nombreEmpleado')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let apellidoEmpleadoRef = editForm.get('apellidoEmpleado')!;
        <div class="mb-3">
          <label class="form-label" for="field_apellidoEmpleado" jhiTranslate="sumativa2DunderMifflinApp.empleado.apellidoEmpleado"
            >Apellido Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="apellidoEmpleado"
            id="field_apellidoEmpleado"
            data-cy="apellidoEmpleado"
            formControlName="apellidoEmpleado"
          />
          @if (apellidoEmpleadoRef.invalid && (apellidoEmpleadoRef.dirty || apellidoEmpleadoRef.touched)) {
            <div>
              @if (editForm.get('apellidoEmpleado')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefonoEmpleado" jhiTranslate="sumativa2DunderMifflinApp.empleado.telefonoEmpleado"
            >Telefono Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoEmpleado"
            id="field_telefonoEmpleado"
            data-cy="telefonoEmpleado"
            formControlName="telefonoEmpleado"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_correoEmpleado" jhiTranslate="sumativa2DunderMifflinApp.empleado.correoEmpleado"
            >Correo Empleado</label
          >
          <input
            type="text"
            class="form-control"
            name="correoEmpleado"
            id="field_correoEmpleado"
            data-cy="correoEmpleado"
            formControlName="correoEmpleado"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_departamento" jhiTranslate="sumativa2DunderMifflinApp.empleado.departamento"
            >Departamento</label
          >
          <select
            class="form-control"
            id="field_departamento"
            data-cy="departamento"
            name="departamento"
            formControlName="departamento"
            [compareWith]="compareDepartamento"
          >
            <option [ngValue]="null"></option>
            @for (departamentoOption of departamentosSharedCollection; track $index) {
              <option [ngValue]="departamentoOption">{{ departamentoOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
