<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-jefe-heading" data-cy="JefeCreateUpdateHeading" jhiTranslate="sumativa2DunderMifflinApp.jefe.home.createOrEditLabel">
        Crear o editar Jefe
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="sumativa2DunderMifflinApp.jefe.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nombreJefeRef = editForm.get('nombreJefe')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombreJefe" jhiTranslate="sumativa2DunderMifflinApp.jefe.nombreJefe">Nombre Jefe</label>
          <input
            type="text"
            class="form-control"
            name="nombreJefe"
            id="field_nombreJefe"
            data-cy="nombreJefe"
            formControlName="nombreJefe"
          />
          @if (nombreJefeRef.invalid && (nombreJefeRef.dirty || nombreJefeRef.touched)) {
            <div>
              @if (editForm.get('nombreJefe')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let telefonoJefeRef = editForm.get('telefonoJefe')!;
        <div class="mb-3">
          <label class="form-label" for="field_telefonoJefe" jhiTranslate="sumativa2DunderMifflinApp.jefe.telefonoJefe"
            >Telefono Jefe</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoJefe"
            id="field_telefonoJefe"
            data-cy="telefonoJefe"
            formControlName="telefonoJefe"
          />
          @if (telefonoJefeRef.invalid && (telefonoJefeRef.dirty || telefonoJefeRef.touched)) {
            <div>
              @if (editForm.get('telefonoJefe')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
